.THIS .demo {
    border-spacing:1px;
    padding:5px;
    border-collapse:collapse;      
}
.THIS .demo th {
    border:1px solid #C0C0C0;
    padding:12px;
    background:#F0F0F0;
    font-size:20px;
}
.THIS .demo td {
    border:1px solid #C0C0C0;
    text-align:center;
    padding:10px;
}
.THIS table.demo {
    table-layout: fixed;
    width: 55%;  
}